.card-1 {
  background-image: url('https://assets.ccbp.in/frontend/react-js/reusable-banners-card-1-bg.png');
  background-size: cover;
  height: 20vh;
  width: 1000px;
  border: 1px solid #cbced2;
  border-radius: 4px;
  padding-left: 20px;
  margin: 5px;
}

.card-2 {
  background-image: url('https://assets.ccbp.in/frontend/react-js/reusable-banners-card-2-bg.png');
  background-size: cover;
  height: 20vh;
  width: 1000px;
  border: 1px solid #cbced2;
  border-radius: 4px;
  padding-left: 20px;
  margin: 5px;
  text-align: center;
}

.card-3 {
  text-align: center;
  background-image: url('https://assets.ccbp.in/frontend/react-js/reusable-banners-card-3-bg.png');
  background-size: cover;
  height: 20vh;
  width: 1000px;
  border: 1px solid #cbced2;
  border-radius: 4px;
}
.headerText {
  color: #326a9d;
}
.description {
  color: #64748b;
}
.show-more {
  border-width: 2px;
  border-color: solid #326a9d;
  color: #326a9d;
  background-color: transparent;
  border-radius: 4px;
}
